ADMIN_DOMAIN=admin.lewdventure.online
CLICKHOUSE_ADMIN_PASSWORD=
CLICKHOUSE_INGEST_DEV_PASSWORD=
CLICKHOUSE_INGEST_STAGE_PASSWORD=
CLICKHOUSE_INGEST_PROD_PASSWORD=
CLICKHOUSE_GRAFANA_PASSWORD=
GF_SECURITY_ADMIN_PASSWORD=
