ASPNETCORE_ENVIRONMENT=Development
Server__PublicPort=5000
Server__OpsPort=9090
Server__BindAddress=Any
Server__EnableSwagger=false
GoogleSheets__CredentialsPath=/run/secrets/google-credentials.json
GoogleSheets__CredentialsJson=
