ASPNETCORE_ENVIRONMENT=Development
Server__PublicPort=5000
Server__OpsPort=9090
Server__BindAddress=Any
Server__EnableSwagger=false
GoogleSheets__CredentialsPath=/run/secrets/google-credentials.json
GoogleSheets__CredentialsJson=
Admin__Enabled=false
Admin__ApiKey=
ConfigPublisher__Enabled=true
ConfigPublisher__ApiKey=
RateLimit__Enabled=true
RateLimit__Battle__PermitLimit=30
RateLimit__Battle__WindowSeconds=10
RequestLimits__BattleMaxRequestBodyBytes=262144
ReverseProxy__Enabled=true
ReverseProxy__KnownNetworks__0=172.16.0.0/12
Mongo__Enabled=true
Mongo__ConnectionString=mongodb://lewdventure_app:change-me@mongo:27017/?replicaSet=rs0&authSource=lewdventure_dev
Mongo__DatabaseName=lewdventure_dev
